@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-size-base: 16px;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --background: #0a0a0a; */
    --foreground: #ededed;
  }
}

html {
  font-size: var(--font-size-base);
}

body {
  line-height: 1.55;
  background: var(--background);
  color: rgb(17 24 39);
  /* tailwind gray-900 */
  font-family: Arial, Helvetica, sans-serif;
}

:where(a, button):focus {
  outline: 2px solid #1d4ed8;
  /* blue-700 */
  outline-offset: 2px;
}